@import './CSSVariables.scss';
@import './About.scss';
@import './AboutMobile.scss';
@import './Blog.scss';
@import './BlogMobile.scss';
@import './Contact.scss';
@import './ContactMobile.scss';
@import './Main.scss';
@import './MainMobile.scss';
@import './NavBar.scss';
@import './NavBarMobile.scss';
@import './Portfolio.scss';
@import './PortfolioMobile.scss';

/*//////////////////////////////////////
/////APP STYLES/////////////////////////
//////////////////////////////////////*/

.App {
  text-align: center;
  font-family: $StandardFont;
}

.Section-Header{
  width: 150px;
  font-size: 36px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -75px;
  font-family: $HeaderFont;
}








