@import './CSSVariables.scss';
@import './About.scss';
@import './AboutDesktop.scss';
@import './Blog.scss';
@import './BlogDesktop.scss';
@import './Contact.scss';
@import './ContactDesktop.scss';
@import './Main.scss';
@import './MainDesktop.scss';
@import './NavBar.scss';
@import './NavBarDesktop.scss';
@import './Portfolio.scss';
@import './PortfolioDesktop.scss';

/*//////////////////////////////////////
/////APP STYLES/////////////////////////
//////////////////////////////////////*/

.App {
  text-align: center;
  font-family: $StandardFont;
}

.Section-Header{
  width: 150px;
  font-size: 36px;
  position: absolute;
  top: 20px; 
  left: 50%;
  margin-left: -75px;
  font-family: $HeaderFont;
}

@media only screen and (min-width: 768px){

  .Section-Header{
    top: 100px;
  }
}








