/*////////////////////////////////////
//////BLOG PAGE///////////////////////
////////////////////////////////////*/

@media only screen and (min-width: 768px){

    .Section-Header-Underscore-Blog{
        top: 115px;
    }

    .Blog-Footer{
        display: flex;
    }

    .Blog-Row{
        display: flex;
    }

    .Blog-Wrap{
        margin-left: -40vw;
    }
}