/*////////////////////////////////////
//////CONTACT MOBILE PAGE/////////////
////////////////////////////////////*/

@media only screen and (max-width: 600px){

    .Contact-Form-Description{
        margin-left: -40vw;
        width: 80vw;
        top: 20%;
    }

    .Contact-Form{
        margin-left: -40vw;
        width: 80vw;
    }

    .Contact-Footer-SVG{
        display: none;
    }

    .Contact-Button{
        width: 20vw;
        margin-left: -10vw;
        bottom: 0;
        margin-bottom: 16vh;
    }

    .Contact-Button svg{
        width: 20vw;
        padding: 5px;
    }

    .Social-Container{
        margin-top: 25px;
        width: 450px;
        margin-left: -230px;
    }

}