/*////////////////////////////////////
//////PORTFOLIO PAGE//////////////////
////////////////////////////////////*/

.Portfolio{
    height: 100vh;
    width: 100vw;
    background-color: $PrimaryLight;
    color: $PrimaryDark;
    position: relative;
  }

  .Section-Header-Underscore-Portfolio{
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 85px;
    margin-left: -65px;
    transform: rotate(85deg);
    font-family: $HeaderFont;
  }
  
  .Portfolio-Wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -135px;
  }
  
  .Portfolio-Row{
    width: 80vw;
    display: none;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .Portfolio-Card{
    width: 270px;
    height: 350px;  
    margin: auto;
  }
  
  .Portfolio-Pic{
    width: 270px;
    height: 270px;
    background-color: #000000;
  }

  /*//////////////////////////////////
  ///CAROUSEL STYLE///////////////////
  //////////////////////////////////*/

  .Carousel{
    margin-left: auto;
    margin-right: auto;
  }

  .Inactive {
    display: none;
  }
  .Active {
    display: block;
  }

  .Back-Arrow{
    position: absolute;
    left: -30px;
    top: 50%;
  }

  .Forward-Arrow{
    position: absolute;
    right: -30px;
    top: 50%;
  }